.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    
  }
  
  .center > div {
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 110, 255);
    color:white;
    border-radius: 10px;
  
  }
